body {
	padding-top: 70px;
	margin: 0 auto;
	width: 1000px;
}
.cadastro{
	margin: 0 auto;
	width: 700px;
}
aside{
	width: 196px;
}
aside a{
	margin: 0 auto;
}
header{
	border: dashed;
	height: 241px;
}
.tablea{
	width: 500px;
}
aside{
	float: left;
	width: 35%;
	min-width: 250px;
}
.main{
	display: block;
	min-height: 250px;
}
.jumbotron .button{

}
.jumbotron .button, .post{
	float: right;
}
.content{
	float: right;
	width: 65%;
	display: inline;
	min-width: 300px;
}
.content .panel-primary{
	margin-bottom: 10px;
	margin:0 30px 10px 30px;
}
.post{
	margin: 50px;
	min-width: 300px;
}
.post button{
	float: left;
	width: 10%;
	height: 91px;
}
.post textarea{
	float: left;
	width: 90%;
}