body { padding-top: 70px; }

aside{
	width: 196px;
}
aside a{
	margin: 0 auto;
}
header{
	border: dashed;
	height: 241px;
}
.tablea{
	width: 500px;
}
.cadastro{
	width: 300px;
	padding: 10px;
	padding-right: 25px;
}
.cadastro .btn{
	margin-top: 10px;
}